<h1>Usuarios</h1>

<div class="container md-8" >

    <table class="table table-hover">

        <thead>
            <tr>
                <th class="col">Id</th>
                <th class="col">Nombre</th>
                <th class="col">Correo</th>
                <td class="col">Pais</td>
                <td class="col">Oferta</td>
                

                <!-- hoal buenos dias Raul, te escribo porque tengo hoy medico, es que me dio muy fuerte la alergia  -->
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let usue of usurs">
                <td> <span class="badge badge-primary">{{usue.id}} </span> </td>
                <td> {{usue.name}} </td>
                <td> {{usue.email}} </td>
                <td> {{usue.pais}} </td>
                <td> <i class="bi bi-check-lg" *ngIf="usue.oferta"></i></td>

                <td> 
                    <button (click)="edit(usue)" class="btn"><i class="bi bi-pencil-square"></i> </button>
                    <button (click)="delete(usue)" class="btn"><i class="bi bi-trash3"></i> </button> </td>
            </tr>
        </tbody>

    </table>

</div>